* {
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  text-align: left;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.nav__logo {
  width: 80px;
  object-fit: contain;
}

.nav ul {
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-right: auto;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: #b9b9b9;
  margin-right: 20px;
  display: flex;
}

.head-link:hover {
  font-weight: bolder;
  color: white;
}

.lupa,
.bell {
  height: 20px;
  padding-left: 30px;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
  margin-left: 20px;
  border-radius: 4px;
}

.seta {
  padding-left: 10px;
  margin-right: 10px;
  height: 10px;
}

h1{
  padding-top: 70px;
  padding-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid2 {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: left;
  gap: 5px;
}
.div {
  padding: 15px;
}
.filme_img {
  height: 300px;
  max-width: 100%;
  transition: transform 450ms;
  border-radius: 2px;
}

.filme_img:hover {
  transform: scale(1.08);
}

.relogio {
  color: white;
  height: 16px;
  max-width: 100%;
}

.p {
  margin: 0px;
}

.footer {
  margin: 0;
  position: bottom;
  bottom: 0;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  text-align: left;
  color: #969696;
}

.footer__icons {
  display: flex;
  justify-content: flex-start;
  max-width: 720px;
  margin: 0 auto;
}

.footer__icons img {
  display: flex;
  flex: 1;
  padding-right: 20px;
}

.svg {
  height: 20px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: row;
}

.column {
  margin: 0;
  flex-direction: row;
  column-gap: 70px;
  padding: 20px 20px 20px 20px;
  list-style-type: none;
}

.column + .column {
  margin-left: 30px;
}

.column a {
  margin: 0;
  font-size: 13px;
  text-decoration: none;
  color: #969696;
}

.column a:hover {
  text-decoration: underline;
}

.column li {
  padding-bottom: 20px;
}

.footer__serviceCode {
  font-size: 13px;
  color: #969696;
  border: #969696 1px solid;
  padding: 8px;
  text-align: center;
  margin-bottom: 30px;
  background-color: transparent;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.footer__serviceCode:hover {
  color: white;
  cursor: pointer;
}

.footer__trademark {
  margin: 0;
  font-size: 10px;
  margin-top: 20px;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}
